@import url('base.css');

.index-header {
    width: 100%;
    height: 100vh;
    max-height: 1200px;
    background-image: url(../resources/heroImg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}

.nav-items-contaner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-right: 50px;
}



.nav-item-custom {
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 4px black;
    padding: 0.6rem 1.3rem;
    /* background-color: var(--dark-gray); */
}

.nav-item-custom:hover {
    color: white;
    transform: scale(1.05);
    transition: 0.1s ease-out;
}

/* .burger {
    color: white;
} */

.logo {
    height: 45px;
    filter: drop-shadow(0 0 1px white);
    /* position: absolute; */
    /* left: 1rem; */
}

/* .navbar-item {
    color: white;
    text-shadow: 0 0 4px black;
}

.navbar-item:hover {
    text-shadow: 0 0 0 white;
} */

.nav-content-container {
    margin: 10% auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.nav-content-container>h1 {
    font-size: 85px;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 0 0 8px black;
    font-weight: 300;
    color: white;
}

.nav-content-container>p  {
    /* margin-left: 20%; */
    width: 400px;
    margin: auto;
    text-shadow: 0 0 4px black;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin-top: 24px;
}

.nav-content-container>a {
    font-weight: 700;
    /* font-size: 30px; */
}

@media screen and (max-width: 640px) {
    .nav-content-container>h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 490px) {
    .nav-content-container>h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 440px) {
    .nav-content-container>h1 {
        font-size: 50px;
    }

    .nav-content-container>p {
        font-size: 16px;
        width: 90%;
    }    
}

/* About section */
#about-section {
    width: 100%;
    height: 800px;
    background-color: var(--dark-gray);
    padding: 10%;
    display: flex;
    gap: 40px;

}

.about-header {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 75px;
    font-weight: 300;
    letter-spacing: 5px;
    color: white;
}

.about-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color: white;
    font-weight: 300;
    padding: 30px;
    /* padding-right: 60px; */
    line-height: 25px;
}

.about-1 {

}

.about-content>a {
    font-weight: 700;
    width: 245px;
}


